* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#container {
    width: 375px;
    margin: 100px auto;
}

header {
    height: 66px;
    width: 100%;
    background: #006400;
    text-align: center;
    padding-top: 10px;
    color: #ffffff;
}

main {
    padding: 15px;
}

.label {
    width: 80px;
    height: 18px;
    color: #777777;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin-top: 15px;
}

select {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    width: 327px;
    height: 42px;
    margin-top: 10px;
    margin-bottom: 10px;
}

option {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-top: 15px;
    color: black;
}

button {
    width: 327px;
    height: 48px;
    background: #1B83E2;
    border-radius: 25px;
    border: none;
    background: #006400;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
button:hover{
    opacity: 0.7;
}

img {
    width: 67px;
    height: 80px;
    display: block;
}


#campo {
    background-color: green;
    position: relative;
    width: 327px;
    height: 408px;
    padding: 30px;
}

#img1 {
    margin-left: 40%;
}

#img2 {
    margin-top: 20px;
    margin-left: 40%;
}
.alas{
    display: inline-block;
}
#img4{
    margin-left: 127px;
}
#img5{
    margin-left: 40%;
}